.app {
    width:100%;
    max-width: 1400px;
    margin: auto;
    padding: 30px;
}

.app-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 35px;
}

.search-bar input {
    width: 350px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border:1px solid #555;
}

.search-bar button {
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    justify-content: center;
    gap: 25px;
    width:100%;
}